body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    gap: 1rem;

}

.container {
    max-width: 1200px;
    background-color: black;
    padding: 1rem;
    margin: 0 auto;
    min-height: 0;
}

header > .container {
    /* min-height: 20vh; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    align-items: stretch;
    gap: 1rem;
}

.top-bar{
    background-color: rgb(41, 41, 41);
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

.banner-bar{
    background-color: rgb(255, 144, 33);
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    
}

.banner{
    background-color: yellow;

}

.logo, .nav, .social{
    background-color: red;
}

main > .container{
    /* min-height: 20vh; */
    align-items: stretch;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 1rem;
    background-color: black;
}

.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1em;
    gap: 1em;
    background-color: rgb(102, 81, 138);
}

.article {
    background-color: rgb(88, 177, 209);
}

.navigation {
    background-color: rgb(114, 153, 167);
    grid-column: 1 / -1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    gap: 1rem;
    background-color: rgb(223, 67, 59);
}

.ads{
    background-color: rgb(247, 166, 67);
}

footer > .container {
    /* min-height: 3vh; */
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
}

.footer-content {
    background-color: rgb(255, 238, 151);
}

.logo, .nav, .social, .banner, .article, .navigation, .ads, .footer-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    container-type: inline-size;

}

p {
    font-size: clamp(18px, 2cqw, 30px);
        word-break: break-word;
}

@media (max-width: 1024px) {

    header > .container {
        min-height: none;
        grid-template-rows: 1.5fr 1fr;
        grid-template-columns: 1fr;
    }

    .top-bar {
        grid-template-columns: 1fr;
    }

    main > .container {
        min-height: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .articles {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

}

@media (max-width: 768px) {
        header > .container {
        min-height: none;
        grid-template-rows: 1.5fr 1fr;
        grid-template-columns: 1fr;
    }

    .top-bar {
        grid-template-columns: 1fr;
    }

    main > .container {
        min-height: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .articles {
        grid-template-columns: 1fr;
        
    }
}

